<% layout('layaouts/boilerplate') %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <br><br>
                <h3>create new listing</h3>
                <form action="/listings" novalidate class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]"  placeholder="enter the title" class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Enter a valid Title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="discription" class="form-label">Description</label>
                        <textarea name="listing[description]"  placeholder="enter discription" class="form-control"
                            required></textarea>
                        <div class="valid-feedback">
                            Nice discription
                        </div>
                        <div class="invalid-feedback">
                            Please Enter a valid discription.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">image</label>
                        <input type="text" name="listing[image]"  placeholder="enter the image url link" class="form-control">
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>

                            <input type="number" name="listing[price]" placeholder="enter the price" class="form-control"
                                required>
                            <div class="valid-feedback">
                                Greate Price
                            </div>
                            <div class="invalid-feedback">
                            Please Enter a valid Price.
                        </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]"  placeholder="enter the country" class="form-control"
                                required>

                            <div class="valid-feedback">
                                Wonderfull
                            </div>
                            <div class="invalid-feedback">
                            Please Enter a valid Country.
                        </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]"  placeholder="enter the location" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Your Location Is Valid
                        </div>
                        <div class="invalid-feedback">
                            Please Enter a valid Location.
                        </div>
                    </div>
                    <button class="btn btn-dark add-btn mt-3">add</button>
                </form>
                <br><br>
            </div>
        </div>
    </body>